<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div th:switch="${users}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td><a href="#" th:href="@{user-update/{id}(id = ${user.id})}">Edit</a></td>
                        <td><a href="#"th:href="@{user-delete/{id}(id = ${user.id})}">Delete</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/user-create">Create user</a></p>
    </div>
</body>
</html>